.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6; }

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.content-wrapper {
  margin-top: 80px; }

a.no-style {
  color: #373a3c;
  text-decoration: none; }
