<nav>
  <ul class="pagination pagination-sm">
    
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?{{ page_obj.previous_page_number.querystring }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <!-- <span class="current page">{{ page }}</span> -->
                <li class="page-item active">
                    <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <!-- <a href="?{{ page.querystring }}" class="page">{{ page }}</a> -->
                <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{{ page_obj.next_page_number.querystring }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
