{% load staticfiles i18n %}
<div class="m-b-lg">
  <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="/">asg</a>
      <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        &#9776;
      </button>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" href="{% url 'cal:event-list' %}">Wydarzenia</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'cal:event-archive' %}">Archiwum</a></li>
        </ul>
    
        <ul class="nav navbar-nav pull-xs-right">
          {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'users:detail' request.user.username  %}">Mój profil</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Wyloguj</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Rejestracja</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Logowanie</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
